.table {
  --border-color: #ccc;
  border-collapse: collapse;
  background: white;
}
.table thead tr,
.table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.table td,
.table th {
  padding: 0.5rem 1rem;
}

.table td:not(:last-child),
.table th:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid orange;
  border-bottom: 5px solid orange;
  bottom: 0;
  right: 0;
  position: absolute;
}

.tooltipText {
  position: absolute;
  top: -1rem;
  left: calc(100% + 1rem);
  visibility: hidden;
  padding: 0.5rem 1rem;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  min-width: 10rem;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
