.table {
  border-collapse: collapse;
  background: white;
}

.thead .tr {
  border-bottom: 1px solid #ddd;
  background: #ccc;
}
.tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.td:not(:last-child),
.th:not(:last-child) {
  border-right: 1px solid #ddd;
}

.td:first-child,
.th:first-child {
  color: #666;
}

.td,
.th {
  padding: 0.5rem;
}

.isSelected {
  background: red;
}

.isAdded {
  background: #e6ffec;
  /*color: #ccffd8;*/
  color: #377f48;
}

.isRemoved {
  background: #ffebe9;
  /*color: #ffd7d5;*/
  color: #77231e;
}
